main h1:first-child {
  padding-top: 70px;
}

.container {
  padding-top: 70px;
}
#index-table_length,
#index-table_paginate {
  display: none;
}

#index-table_filter {
  left: 800px;
  position: relative;
}
